{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{% endblock %}</title>
    <link href="{% static 'main/css/boostrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h1>KinoPoisk</h1>
      <ul class="nav nav-pills">

          {% url 'index' as url_index%}
          {% url 'acters' as url_acters%} 

        <li class="nav-item"><a aria-current="page" class="nav-link {% if url_index == request.path%}active {%endif%}" href="{{url_index}}">Информация о фильмах</a></li>
        <li class="nav-item" style="padding-right: 10px;"><a aria-current="page" class="nav-link {% if url_acters == request.path%}active {%endif%}" href="{{url_acters}}">Информация об актерах</a></li>
        <li class="nav-item"><a aria-current="page" class="btn btn-outline-success" href="/admin">Режим админа</a></li>

          <span class="nav-link text-dark">

          </span>
      </ul>
    </header>
</div>
{% block content %}

<div class="container justify-content-md-between py-2 mb-2">
  <a class="btn btn-warning" href="{% url 'add_film'%}">Добавить фильм</a>
</div>

<table class="table text-center container">
  <thead class="table-dark">
  <tr>

      <th>Фильм</th>
      <th>Актеры</th>
      <th>Редактирвание</th>
      <th>Удаление</th>
  </tr>
  </thead>
  {% for i in films %}
  <tr>
      <td>{{i.name}}</td>
      <td>{% for tag in i.actors.all %} {{ tag.name|linebreaks }} {% endfor %} </td>
      <th><a class="btn btn-success" href="{% url 'update' i.id %}">Редактирвать</a></th>
      <th><a class="btn btn-danger" href="{% url 'remove_film' i.id %}">Удалить</a></th>
  </tr>
  {% endfor %}
</table>
</div>


{% endblock %}
</body>